<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    {{!-- <link rel="stylesheet" type="text/css" href="/assets/css/screen-casper.css" /> --}}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script type="text/javascript" src="//use.typekit.net/mkt1goj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <header class="site-header">
        <a href="{{@blog.url}}"><div class="icon-andimal"></div></a>
        <a class="icon-feed icon-link" href="{{@blog.url}}/rss/"></a>
    </header>

        {{! Everything else gets inserted here }}
        {{{body}}}

    <footer class="site-footer">
        <a class="icon-mail first" title="andy@andimal.co" href="mailto:andy@andimal.co"></a>
        <a class="icon-twitter" title="@and1mal" href="http://twitter.com/and1mal"></a>
        <a class="icon-github" title="andimal on github" href="http://github.com/andimal"></a>
        <a class="icon-tumblr" title="tumblr: andyontheinterwebs.com" href="http://andyontheinterwebs.com"></a>
        <a class="icon-instagram" title="@andimal" href="http://instagram.com/andimal"></a>
        <a class="icon-rdio" title="andimal on rdio" href="http://www.rdio.com/people/andimal/"></a>
        <a class="icon-bike" title="strava" href="http://app.strava.com/athletes/66649"></a>
        <a class="icon-dribbble last" title="andimal on dribbble" href="http://dribbble.com/andimal"></a>
        <a class="home-link" href="{{@blog.url}}"><h1 class="icon-andimal"><strong>Andy Richardson</strong></h1></a>
        <a class="poweredby" href="http://ghost.org">Proudly published with <span class="icon-ghost">Ghost</span></a>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="/assets/js/index.js"></script>

</body>
</html>