<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script type="text/javascript" src="//use.typekit.net/mkt1goj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <header class="site-header">
        <a class="home-link" href="{{@blog.url}}"><div class="icon-andimal"></div></a>

        <div class="header-icons">
            <a class="icon rss" href="{{@blog.url}}rss/">
                <p class="icon-feed icon-link"></p>
                <p class="caption">rss</p>
            </a>

            <div class="icon to-top">
                <p class="icon-triangle icon-link"></p>
                <p class="caption">back to top</p>
            </div>
        </div>
    </header>

        {{{body}}}

    <footer class="site-footer">
        <a class="icon first" href="mailto:andy@andimal.co">
            <p class="icon-mail"></p>
            <p class="caption">andy@andimal.co</p>
        </a>
        <a class="icon" href="http://twitter.com/and1mal">
            <p class="icon-twitter"></p>
            <p class="caption">@and1mal</p>
        </a>
        <a class="icon" href="http://github.com/andimal">
            <p class="icon-github"></p>
            <p class="caption">github</p>
        </a>
        <a class="icon" href="http://andyontheinterwebs.com">
            <p class="icon-tumblr"></p>
            <p class="caption">andyontheinterwebs.com</p>
        </a>
        <a class="icon" href="http://instagram.com/andimal">
            <p class="icon-instagram"></p>
            <p class="caption">@andimal</p>
        </a>
        <a class="icon" href="http://www.rdio.com/people/andimal/">
            <p class="icon-rdio"></p>
            <p class="caption">rdio</p>
        </a>
        <a class="icon" href="http://app.strava.com/athletes/66649">
            <p class="icon-bike"></p>
            <p class="caption">strava</p>
        </a>
        <a class="icon last" href="http://dribbble.com/andimal">
            <p class="icon-dribbble"></p>
            <p class="caption">dribbble</p>
        </a>
        <a class="home-link" href="{{@blog.url}}"><h1 class="icon-andimal"><strong>Andy Richardson</strong></h1></a>
        <a class="poweredby" href="http://ghost.org">Proudly published with <span class="icon-ghost">Ghost</span></a>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript" src="/assets/js/script.js"></script>

</body>
</html>