%header{style: "background-image: url(#{blog_cover})", data: {stellar_background_ratio: "0.5"}}
  .header-inner
    %i.icon-andimal
    %h1= blog_title

    %button#about.btn.btn-white-outline.margin-top-30 about
    -# %button.btn.btn-white-outline.margin-top-30 work

  .about
    %i#back-to-header.fa.fa-hand-o-left
    .container
      .col-sm-10.col-sm-centered
        .col-sm-6
          %h1 Andy Richardson
          %h2= blog_description

        .col-sm-6
          .contact-icon.col-xs-3.col-sm-6.text-right
            = link_to "", "http://twitter.com/and1mal", class: "fa fa-twitter"
          .contact-icon.col-xs-3.col-sm-6.text-left
            = link_to "", "mailto:andy@andimal.co", class: "fa fa-envelope"
          .contact-icon.col-xs-3.col-sm-6.text-right
            = link_to "", "http://github.com/andimal", class: "fa fa-github"
          .contact-icon.col-xs-3.col-sm-6.text-left
            = link_to "", "http://andyontheinterwebs.com", class: "fa fa-tumblr"
